RewriteEngine On

# Eliminar barra final de la URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/timecontrol/$ /$1 [L,R=301]
RewriteBase /compor/
RewriteCond %{REQUEST_URI} !^/compor/public/(css|js|images)/ [NC]

# Redirigir todo a index.php excepto archivos y directorios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
#RewriteEngine On

# Excluir directorios específicos (opcional pero recomendado)
#RewriteCond %{REQUEST_URI} !^/timecontrol/public/(css|js|images)/ [NC]

# Excluir archivos existentes (JS, CSS, imágenes, etc.)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

# Redirigir todas las demás peticiones a index.php
#RewriteRule ^ index.php [QSA,L]